.container {
  box-sizing: border-box;
  position: relative;
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title-image {
  position: relative;
  height: 300px;
  background-image: url(../images/Title_image.jpg);
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 60px;
}

.title-image .container {
  height: 100%;
}

.poster-text {
  color: white;
  position: absolute;
  bottom: 0;
  width: 40%;
  padding-bottom: 20px;
}
.poster-text h1 {
  font-weight: bold;
  font-size: 26px;
}

.wide-post-container {
  text-align: left;
  padding: 25px 126px 25px 30px;
}

.post-item-container {
  padding: 15px 14px 14px 14px;
}

.font-article-section {
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

.font-brown {
  color: #C9A96E;
}

.font-article-autor {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

.font-grey {
  color: #666666;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: normal;
  font-family: PT Serif;
}

p {
  font-style: normal;
  font-weight: normal;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #171717;
}

.post-item-container h3 {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 10px;
}

.wide-post-container h3 {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 12px;
  margin: 0;
}

.posts{
  background-color: brown;
}

.row {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.column-1 {
  width: 16.666666666%;
  text-align: center;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.column-2 {
  background-color: white;
  width: 33.333333333%;
  text-align: center;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.column-3 {
  background-color: white;
  width: 50%;
  text-align: center;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.column-4 {
  width: 66.666666666%;
  text-align: center;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.column-5 {
  background-color: white;
  width: 100%;
  text-align: left;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 30px;
}

.post-item {
  margin-bottom: 30px;
}

.post-item img {
  width: 100%;
}

.shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-nav {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 14px;
}

.sidebar-nav h2 {
  font-family: PT Serif;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #171717;
  margin: 0;
}

.sidebar-nav-bottom h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #C9A96E;
  text-transform: uppercase;
  border-top: 1px solid #E5E5E5;
}

.sidebar-text-container {
  padding: 20px 20px 14px 20px;
  margin: 0;
}

.category-name-posts {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #B1B1B1;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 15px;
}

.font-style-strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

p.article-text {
  margin: 0;
}

.wide-post-container p.article-text {
  padding-top: 12px;
}

@media screen and (min-width: 1170px) {
  .sidebar {
    margin-left: 100px;
  }
}
