html,
body {
  height: 100%;
}

body {
  color: #171717;
	background-color: #ffffff;
  margin: 0;
}

.menu-header {
  padding: 32px 80px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.header a.logo-header {
  height: 34px;
  float: left;
  margin-top: 0;
}

.logo {
  display: block;
  position: relative;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2.5px;
  color: #171717;
}

.logo:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  height: 6px;
  background: #C9A96E;
  opacity: 0.35;
  z-index: -1;
}

.logo-header {
  float: left;
}

nav a {
	text-decoration: none;
}

nav li {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

nav ul {
  line-height: 32px;
  float: right;
  margin: 0;
}

.nav-item {
  display: inline-block;
  padding: 0 0px 0 10px ;
}

.top-menu .active a {
  	color: #C9A96E;
}

.top-menu a {
  	color: #171717;
}

.top-menu a:hover {
  	color: #C9A96E;
}
