.sidebar-section {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 14px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.section-margin {
  margin-top: 70px;
}

.sidebar-section h2 {
  font-family: PT Serif;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #171717;
  margin: 0;
}

.sidebar-text-container {
  padding: 20px 20px 14px 20px;
  margin: 0;
}

.post-item-category {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #B1B1B1;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 15px;
}

.font-style-strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

.sidebar .post-title {
  font-size: 18px;
}

.category-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
  padding: 14px 0;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
}

.category-row:hover span {
  text-decoration: underline;
}

.category,
.social {
  margin-bottom: 30px;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.icon-box {
  background-color: #F8F9FA;
  vertical-align: bottom;
}

.icon-box .fa  {
  color: #5A5A5A;
  font-size: 20px;
  padding-bottom: 6px;
  padding-top: 17px;
}

.icon-box p {
  color: #999999;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 13px 0;
}

.tags a {
  display: inline-block;
  background-color: #F8F9FA;
  color: #666666;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  font-family: PT serif;
  padding: 6px 14px;
  margin: 0 10px 10px 0;
  float: left;
}

.pagination {
  border: 1px solid #E5E5E5;
  display: inline-block;
  margin-bottom: 70px;
  font-size: 0;
  padding-left: 0;
}

.page-item {
  display: inline-block;
}

.page-link {
  font-family: HK Grotesk, PT serif;
  font-size: 16px;
  line-height: 16px;
  color: #171717;
  padding: 18px 15px 16px 15px;
  display: block;
}

.link-muted-gray {
color: #A2A2A2;
}

.page-link-prev {
  padding-left: 25px;
  font-size: 14px;
}

.page-link-next {
  padding-right: 21px;
  font-size: 14px;
}

@media screen and (min-width: 1170px) {
  .sidebar {
    margin-left: 100px;
  }
}
